main/resources/wsdl/DebitCardDetailsService.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_DebitCardDetailsService"
     targetNamespace="http://hdfcbank.com/soa/DebitCardDetails"
     xmlns:tns="http://hdfcbank.com/soa/DebitCardDetails"
     xmlns:inp1="http://hdfcbank.com/soa/DebitCardDetails"
     xmlns:inp2="http://hdfcbank.com/soa/DebitCardDetails"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://hdfcbank.com/soa/DebitCardDetails"
                    targetNamespace="http://hdfcbank.com/soa/DebitCardDetails" elementFormDefault="qualified">
          <xsd:element name="DebitCardRequest">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="IdentifierDetails">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="IdentifierData" maxOccurs="unbounded">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="IdentifierName" type="xsd:string"/>
                            <xsd:element name="IdentifierValue" type="xsd:integer"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="RequestID" type="xsd:string" minOccurs="0"/>
                <xsd:element name="SelectedDebitCard" type="xsd:string" minOccurs="0"/>
                <xsd:element name="PinInfo" type="xsd:string" minOccurs="0"/>
                <xsd:element name="expiryDate" type="xsd:string" minOccurs="0"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:schema>

       <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://hdfcbank.com/soa/DebitCardDetails"
            targetNamespace="http://hdfcbank.com/soa/DebitCardDetails" elementFormDefault="qualified">
          <xsd:element name="DebitCardResponse">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="DebitCardLoV" minOccurs="0">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="DebitCardNo" maxOccurs="unbounded" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="DebitCardVerificationStatus" type="xsd:string" minOccurs="0"/>
                <xsd:element name="RespCode" type="xsd:string"/>
                <xsd:element name="RespDescription" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:schema>

    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="debitCardDetailsReq" element="tns:DebitCardRequest"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="debitCardDetailsResp" element="tns:DebitCardResponse"/>
    </wsdl:message>
    <wsdl:portType name="debitCardDetails_ptt">
        <wsdl:operation name="fetchDebitCardDetails">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="debitCardDetails_pttSOAP11Binding" type="tns:debitCardDetails_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="fetchDebitCardDetails">
            <soap:operation style="document"
                            soapAction="http://hdfcbank.com/soa/DebitCardDetails/fetchDebitCardDetails"/>
            <wsdl:input>
                <soap:body use="literal" parts="debitCardDetailsReq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="debitCardDetailsResp"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DebitCardDetailsService">
    <wsdl:port name="debitCardDetails_pttSOAP11Binding" binding="tns:debitCardDetails_pttSOAP11Binding">
         <soap:address location="http://localhost:8080/CustomerDetailsServices/ProxyService/PS_DebitCardDetailsService"/>
      </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
